<!-- Portfolio -->
<div class="section mt-4">
  <div class="section-heading">
    <h2 class="title">Accounts</h2>
    <a href="crypto-portfolio.html" class="link">View All</a>
  </div>
  <div class="card">
    <ul
      class="listview flush transparent no-line image-listview detailed-list mt-1 mb-1"
    >
      <!-- item -->
      <li *ngFor="let item of data | keyvalue">
        <div class="item">
          <div class="icon-box text-success">
            <!-- <ion-icon name="trending-up-outline"></ion-icon> -->
          </div>
          <div class="in">
            <div class="text-start">
              <!-- <span><img src="src/assets/img/icon/144x144.png"></span> -->
              <strong>{{item.value.name}}</strong>
              <div class="text-small text-secondary">{{item.key}}</div>
            </div>
            <div class="text-end">
              <strong>₹ {{item.value.balance}}</strong>
              <!-- <div class="text-small">
                <span class="badge badge-success">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  2.59%
                </span>
              </div> -->
            </div>
          </div>
        </div>
      </li>
      <!-- * item -->
    </ul>
  </div>
</div>
<!-- Portfolio -->