<div class="section full gradientSection">
  <div class="in">
    <h5 class="title mb-2">Current Balance</h5>
    <h1 class="total"><i class="fa fa-rupee"></i> 2,562.50</h1>
    <h4 class="caption">
      <span class="iconbox text-success">
        <!-- <ion-icon name="trending-up-outline"></ion-icon> -->
      </span>
    </h4>
    <div class="wallet-inline-button mt-5">
      <a
        href="#"
        class="item"
        data-bs-toggle="modal"
        data-bs-target="#depositActionSheet"
      >
        <div class="iconbox">
          <i class="fa fa-arrow-up"></i>
        </div>
        <strong>Deposit</strong>
      </a>
      <a
        href="#"
        class="item"
        data-bs-toggle="modal"
        data-bs-target="#withdrawActionSheet"
      >
        <div class="iconbox">
          <i class="fa fa-arrow-down"></i>
        </div>
        <strong>Withdraw</strong>
      </a>
      <a
        href="#"
        class="item"
        data-bs-toggle="modal"
        data-bs-target="#sendActionSheet"
      >
        <div class="iconbox">
          <i class="fa fa-arrow-right"></i>
        </div>
        <strong>Send</strong>
      </a>
      <a href="crypto-exchange.html" class="item">
        <div class="iconbox">
          <i class="fa fa-exchange"></i>
        </div>
        <strong>Exchange</strong>
      </a>
    </div>
  </div>
</div>